.games {
  margin-top: 80px;
}

.game__item {
  position: relative;
  padding-top: 150px;
  height: 545px;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
}

.game__header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 4px 25px;
  height: 190px;
}

.game__title {
  color: white;
  font-size: 48px;
  text-transform: uppercase;
  text-align: right;
  font-family: OpenSansExtraBold, sans-serif;
}

.game__description {
  padding-top: 8px;
  color: white;
  font-size: 21px;
  text-align: right;
  font-family: OpenSansLight, sans-serif;
}

.game__links {
  margin-top: 17px;
}

.game__link {
  float: right;
}

.game__link:last-child {
  margin-right: 20px;
}

.game__link-img {
  height: 31px;
}

/* CTS */
.game__header_crash {
  background-color: #9cb1f0;
  box-shadow: 1px 30px 23px 12px #9cb1f0;
}

.game__img_crash {
  background-color: #9cb1f0;
  background-image: url(../img/SCT_web_banner.png);
}

/* cats */
.game__header_cats {
  background-color: #1a474d;
  box-shadow: 1px 30px 23px 12px #1a474d;
}

.game__img_cats {
  background-color: #1a474d;
  background-image: url(../img/cats_alchemy_web_banner.png);
}

/* tanks */
.game__header_tanks {
  background-color: #39435c;
  box-shadow: 1px 30px 23px 12px #39435c;
}

.game__img_tanks {
  background-color: #39435c;
  background-image: url(../img/tank_2_web_banner.png);
}

@media (min-width: 1023px) {
  .games {
    display: flex;
    flex-direction: row;
    margin-top: 118px;

  }
  .game__item {
    width: 33.33%;
    height: 600px;
    background-position: center;
    background-size: cover;
    transition: width 800ms cubic-bezier(.55, .25, 0, .99);
  }
  .game__item:hover {
    z-index: 1;
    width: 50%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.29);

  }

  .game__header {
    opacity: 0;
    top: inherit;
    bottom: 66px;
    padding0right: 74px;
    background-color: transparent;
    box-shadow: none;
    transition: opacity 600ms cubic-bezier(.55, .25, 0, .99);
  }

  .game__item:hover > .game__header {
    opacity: 1;
  }
  .game__title {
    font-size: 34px;
    line-height: 1.1;
  }
  .game__description {
    padding-top: 12px;
    font-size: 25px;
  }
  .game__links {
    margin-top: 37px;
  }
}