.header {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}

.header-in {
  box-sizing: border-box;
  padding: 6px 18px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}

.header-collapsed {
  z-index: -2;
  position: absolute;
  top: -1000px;
  left: 0;
  width: 100%;
  transition: top 800ms cubic-bezier(.55, .25, 0, .99);
}

.header-collapsed.opened {
  top: 60px;
}

.header-menu {
  position: relative;
  height: 1000px;
  background-color: white;
}

.site-logo {
  float: left;
}

.site-logo-img {
  height: 68px;
}

.menu-item {
  padding-bottom: 15px;
  text-align: right;
}
.menu-item  a {
  text-decoration: none;
  color: #0a3039;
  font-size: 42px;
  font-family: OpenSansBold, sans-serif;
}

.menu-list {
  padding: 28px 20px;
}

/* mobile menu button */
.c-hamburger {
  cursor: pointer;
  margin-top: 13px;
  float: right;
  z-index: 4;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 34px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: white;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  height: 2px;
  background: #D8022B;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D8022B ;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

@media (min-width: 1023px) {
  .header {
    height: 120px;
    transition: height 500ms cubic-bezier(.55, .25, 0, .99);
  }
  .header-in {
    box-sizing: border-box;
    padding: 7px 105px;
  }

  .header-narrow {
    height: 112px;
  }

  .header-collapsed {
    height: 100%;
    float: right;
    position: inherit;
    width: inherit;
  }

  .header-menu {
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .site-logo {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .site-logo-img {
    height: 100px;
  }

  .c-hamburger {
    display: none;
  }

  .menu-item  a {
    display: block;
    padding: 0 26px;
    color: #4e6a70;
    font-size: 20px;
    font-family: OpenSansRegular, sans-serif;
  }

  .menu-item.active > a > span {
    color: red;
    border-bottom: 2px solid red;
  }

  .menu-item:hover > a > span {
    border-bottom: 2px solid #4e6a70;
  }

  .menu-item {
    float: left;
    padding-bottom: 0;
    margin-right: 36px;
    text-align: center;
  }

  .menu-list {
    padding: 0;
  }
}
