a, a:focus, a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.archol {
  position: relative;
  top: -80px;
  width: 100%;
}
.text {
  text-transform: uppercase;
}
.none {
  opacity: 0;
  pointer-events: none;
}
.uppercase {
  text-transform: uppercase;
}

.text-regular {
  font-family: OpenSansRegular, sans-serif;
}
@media (min-width: 1024px) {
  .archol {
    top: -112px;
    width: 100%;
  }
}
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
