.studio {
  margin-bottom: 40px;
}

.studio__slider-img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.slider__prev {
  display: none;
}

.slider__next {
  display: none;
}
@media (min-width: 1024px) {
  .studio {
    margin-bottom: 0;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, white 0%,white 22%,#009dba 22%,#009dba 100%);
  }

  .studio__slider {
    position: relative;
    margin: auto;
    width: 54%;
    height: auto;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.29);
  }

  .slider__prev {
    left: -60px;
  }
  .slider__arrow {
    display: block;
    position: absolute;
    top: 50%;
  }
  .slider__arrow::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    color: #fefefe;
    border: 4px solid;
    border-right: none;
    border-bottom: none;
  }

  .slider__prev::before {
    transform: rotate(-45deg);
  }

  .slider__next {
    right: -60px;
  }

  .slider__next::before {
    transform: rotate(135deg);
  }

}
