.studio {
  margin-bottom: 40px;
}

.studio__slider {
}
.studio__slider-img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .studio {
    margin-bottom: 0;
    margin-top: 180px;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, white 0%,white 22%,#009dba 22%,#009dba 100%);
  }

  .studio__slider {
    margin: auto;
    width: 55%;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.29);
  }
  .studio__slider-img {
  }
}
