.studio {
  margin-bottom: 40px;
}

.studio__slider-img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.slider__prev {
  display: none;
}

.slider__next {
  display: none;
}
@media (min-width: 1024px) {
  .studio {
    margin-bottom: 0;
    padding-bottom: 200px;
    background: linear-gradient(to bottom, white 0%,white 22%,#009dba 22%,#009dba 100%);
  }

  .studio__slider {
    position: relative;
    margin: auto;
    width: 55%;
    height: 384px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.29);
  }

  .slider__prev {
    display: block;
    position: absolute;
    left: -49px;
    top: 47%;
  }

  .slider__prev::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    color: #fefefe;
    border: 4px solid;
    border-right: none;
    border-bottom: none;
    transform: rotate(-45deg);
    transition: transform .3s;
  }

  .slider__next {
    display: block;
    position: absolute;
    right: -49px;
    top: 47%;
  }

  .slider__next::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    color: #fefefe;
    border: 4px solid;
    border-right: none;
    border-bottom: none;
    transform: rotate(135deg);
    transition: transform .3s;
  }

}
