@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

.header_padding {
    padding: 10px 20px 0 20px;
}
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}
.games {
    padding-top: 80px;
}

.game__header {
    position: relative;
    padding: 10px 20px;
    height: 125px;
}
.game__img {
    height: 325px;
    background-position: center;
    background-size: cover;
}

.game__title {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
    font-family: OpenSansExtraBold, sans-serif;
}

.game__description {
    padding-top: 10px;
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: OpenSansLight, sans-serif;
}
/* CTS */
.game__header_crash {
    background-color: #9cb1f0;
    box-shadow: 0 30px 27px 15px #9cb1f0;
}
.game__img_crash {
    background-image: url(../img/SCT_web_banner.png);
}
/* cats */
.game__header_cats {
    background-color: #1a474d;
    box-shadow: 1px 30px 23px 20px #1a474d;
}
.game__img_cats {
    background-image: url(../img/cats_alchemy_web_banner.png);
}
/* tanks */
.game__header_tanks {
    background-color: #39435c;
    box-shadow: 1px 30px 23px 20px #39435c;
}
.game__img_tanks {
    background-image: url(../img/tank_2_web_banner.png);
}

.vacancies__header {
    padding-top: 35px;
    height: 135px;
    background-color: #036db9;
}
.vacancies__title {
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    font-family: OpenSansLight, sans-serif;
}
.vacancies__text {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-family: OpenSansBold, sans-serif;
}

.content__header {
    padding-bottom: 10px;
    font-size: 20px;
    color: #036db9;
    font-family: OpenSansLight, sans-serif;
}
.content__text {
    line-height: 140%;
    padding-bottom: 10px;
    font-size: 20px;
    color: #3c9bde;
    font-family: OpenSansLight, sans-serif;
}
.vacancies__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.12);
}
.vacancies__more {
    text-align: center;
    color: #036db9;
    font-size: 23px;
    text-transform: uppercase;
    font-family: OpenSansBold, sans-serif;
}
/* contacts */
.contacts__title {
    margin-bottom: 35px;
    color: #c21818;
    font-size: 45px;
    text-transform: uppercase;
    font-family: OpenSansExtraBold, sans-serif;
}

.contacts {
    height: 400px;
}

.contacts__text {
    font-family: OpenSansRegular, sans-serif;
}
.contacts__mail {
    line-height: 1.2;
    font-family: OpenSansLight, sans-serif;
}

.contacts__info {
    margin-top: 15px;
}
 /* mobile menu */
.m-menu__container {
    z-index: 1;
    position: fixed;
    top: -1000px;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: top 800ms cubic-bezier(.55, .25, 0, .99);
}

.m-menu__container.opened {
    top: 70px;
}

.menu__item {
    padding-bottom: 15px;
    text-align: right;
}
.menu__item  a {
    text-decoration: none;
    color: #0a3039;
    font-size: 52px;
    font-family: OpenSansBold, sans-serif;
}

.menu__list {
    padding: 20px;
}
/* mobile menu */

/* mobile menu button */
.c-hamburger {
  margin-right: 20px;
  z-index: 4;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 35px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: white;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  height: 2px;
  background: #cd2a2a;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cd2a2a;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
